<link rel="dns-prefetch" href="https://use.fontawesome.com" />

<div class="last">
<div class="container-fluid p-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">





        <section class="intro text-center">
            <div class="container">
                <img src="/assets/images/test banner-1.jpg" class="d-block carousel-img-custom" alt="..." height="300px">
                
                <div class="row">
                    
                    <div class="align-self-center extra-padding col-md-12">
                        
                        <h1><b>Your Legal Options, Simplified.</b></h1>
                        
                        <div class="form-group form-with-feedback left"><i class="fas fa-fw fa-search"></i><input type="text" id="autosuggestfor" class="form-control curved" placeholder="Type to search"/><label for="autosuggestfor"></label></div>
                        
                        <ul class="shortLinks mt-5 mb-5">
                            <li><a title="Need a Divorce" href="">Need a Divorce</a></li>
                            <li><a title="Insurance Claim Rejected" href="">Insurance Claim Rejected</a></li>
                            <li><a title="Flat Possession Delay" href="">Flat Possession Delay</a></li>
                            <li><a title="Not Getting Refunded" href="">Not Getting Refunded</a></li>
                            <li><a title="Medical Negligence Case" href="">Medical Negligence Case</a></li>
                            <li><a title="Cheque Bounce Issue" href="">Cheque Bounce Issue</a></li>
                            <li><a title="Tenant Not Evicting" href="">Tenant Not Evicting</a></li>
                            <li><a title="High Electricity Bill" href="">High Electricity Bill</a></li>
                        </ul>
                        <div class="mt-5 mb-5">
                            <h1 class="mt-5 mb-3"><b>Our Esteemed Legal Advisory Panel</b></h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>


























        </div>
</div>
</div>