<meta name="viewport" content="width=device-width, initial-scale=1.0">

<app-carousel></app-carousel>


<!-- <div class="container">
    <div class="card text-white border-primary rounded p-5 mt-3">
        <img src="/assets/logo/hero image.png" class="card-img" alt="...">
        <div class="card-img-overlay text-center">
            <h2 class="card-title">Your Legal Options, Simplified.</h2>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12"></div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="input-group my-3">
                        <input type="text" class="form-control text-center"
                            placeholder="Which legal service are you looking for?">
                        <span class="input-group-text" id="basic-addon2">
                            <i class="pi pi-search" style="font-size: 2rem"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12"></div>
            </div>
            <div class="row my-3">
                <div class="col-lg-2 col-sm-12"></div>
                <div class="col-lg-8 col-sm-12">
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-primary text-uppercase">Need a divorce</button>
                        <button type="button" class="btn btn-primary text-uppercase">Insurance claim rejected</button>
                        <button type="button" class="btn btn-primary text-uppercase">Flat Possession Delay</button>
                        <button type="button" class="btn btn-primary text-uppercase">Medical negligence case</button>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12"></div>
            </div>
            <div class="row my-3">
                <div class="col-lg-2 col-sm-12"></div>
                <div class="col-lg-8 col-sm-12">
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-primary text-uppercase">Cheque bounce issue</button>
                        <button type="button" class="btn btn-primary text-uppercase">Not getting refund</button>
                        <button type="button" class="btn btn-primary text-uppercase">Tenant not evicting</button>
                        <button type="button" class="btn btn-primary text-uppercase">High Electricity Bill</button>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12">
                </div>
            </div>
        </div>
    </div>
</div> -->













<div class="esteemed-legal-advisors-bg-color">
    <div class="container-fluid">
        <div class="row gx-3 gy-3">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="owl-item" style="width: 150px;">
                    <div class="item">
                        <div class="team-carousel-image">
                            <div class="team-carousel-image-overflow">
                                <img class="team-img" src="/assets/images/advisor.jpeg" alt="">
                            </div>
                        </div>

                        <div class="team-carousel-content">
                            <div class="overflow-inner">
                                <div class="overflow-text">
                                    <div class="team-carousel-title"><b>Mr. P.C.Jain</b></div>
                                    <div class="team-carousel-subtitle">Retd. District Judge</div>
                                    <div class="team-carousel-desc"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="owl-item" style="width: 150px;">
                    <div class="item">
                        <div class="team-carousel-handle"></div>

                        <div class="team-carousel-image">
                            <div class="team-carousel-image-overflow">
                                <img class="team-img" src="/assets/images/advisor.jpeg" alt="">
                            </div>
                        </div>

                        <div class="team-carousel-content">
                            <div class="overflow-inner">
                                <div class="overflow-text">
                                    <div class="team-carousel-title"><b>Mr. Sarvesh Singh</b></div>
                                    <div class="team-carousel-subtitle">Supreme Court Advocate</div>
                                    <div class="team-carousel-desc"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="owl-item" style="width: 150px;">
                    <div class="item">
                        <div class="team-carousel-handle"></div>

                        <div class="team-carousel-image">
                            <div class="team-carousel-image-overflow">
                                <img class="team-img" src="/assets/images/advisor.jpeg" alt="">
                            </div>
                        </div>

                        <div class="team-carousel-content">
                            <div class="overflow-inner">
                                <div class="overflow-text">
                                    <div class="team-carousel-title"><b>Mrs. Herinder Kaur</b></div>
                                    <div class="team-carousel-subtitle">Supreme Court Advocate</div>
                                    <div class="team-carousel-desc"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="owl-item" style="width: 150px;">
                    <div class="item">
                        <div class="team-carousel-handle"></div>

                        <div class="team-carousel-image">
                            <div class="team-carousel-image-overflow">
                                <img class="team-img" src="/assets/images/advisor.jpeg" alt="">
                            </div>
                        </div>

                        <div class="team-carousel-content">
                            <div class="overflow-inner">
                                <div class="overflow-text">
                                    <div class="team-carousel-title"><b>Mr. G.D.Bansal</b></div>
                                    <div class="team-carousel-subtitle">High Court Advocate</div>
                                    <div class="team-carousel-desc"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="esteemed-legal-advisors-bg-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="text-center">
                    <img class="advisors-img" src="/assets/images/profile.png" alt="Avatar" style="width:200px">
                    <h5 class="text-center mt-2">johnson doe</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="text-center">
                    <img class="advisors-img" src="/assets/images/profile.png" alt="Avatar" style="width:200px">
                    <h5 class="text-center mt-2">maria rodriguez</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="text-center">
                    <img class="advisors-img" src="/assets/images/profile.png" alt="Avatar" style="width:200px">
                    <h5 class="text-center mt-2">james smith</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="text-center">
                    <img class="advisors-img" src="/assets/images/profile.png" alt="Avatar" style="width:200px">
                    <h5 class="text-center mt-2">sarah madison</h5>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row mt-5 mb-4">
        <div class="col-lg-1 col-md-2 col-sm-2">
            <div class="vertical-text">
                <br>
                <div class="h4 vertical-font mb-0">ABOUT US</div>
                <div class="border rounded-pill border-2 border-primary-dark"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-10 col-sm-10 mb-3">
            <h1>Trusted Legal Help. Simplified.
            </h1>
            <p>
                “Constitution is not a mere lawyers document, it is a vehicle of life & its spirit is
always the spirit of age" - Dr. B. R. Ambedkar.
<br>
<br>

This is not just a quote for us but the whole philosophy on which LawSimpl has been
built. Founded by IIT and IIM graduates under the guidance former Judges and
Supreme Court advocates, LawSimpl is an endeavour to make law simple and
accessible to everyone. We believe that law was meant to empower people and not
handicap them, so we are on a mission to ensure that whenever you are faced with a
legal issue, our innovative technology enabled platform and specialized Lawyers are
always there to help you understand your legal rights/options as well as deliver
justice to you and your loved ones in a cost effective and transparent manner.
            </p>
            <button class="btn btn-primary">KNOW MORE</button>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            <img src="/assets/images/about-us.PNG" class="about-img" alt="">
        </div>
    </div>
</div>

<div class="practice-areas-bg pt-2 pb-5">
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="text-center">
                    Our Practice Areas
                </h1>
                <div class="border rounded-pill border-2 border-primary-dark2"></div>
                <p class="text-center practice-area-text my-3 don">
                <b>We focus on areas in which we can excel in providing the best possible outcome.</b><br>
            <b>Some of the key areas we are practice include:</b>
                </p>
            </div>
        </div>
        <div class="row gx-3 gy-3">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="practice-area-img">
                    <h2 class="text-center practice-area-img-text-header">
                        Personal Matters & Documents
                    </h2>
                    <p class="text-center practice-area-img-text-paragraph">
                        Cheque Bounce, 
                        Motor Accident Claims,
                         Will, Affidavits, 
                         Agreements
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="practice-area-img">
                    <h2 class="text-center practice-area-img-text-header">
                        Family Matters
                    </h2>
                    <p class="text-center practice-area-img-text-paragraph">
                        Mutual Consent Divorce,
                         Contested Divorce, 
                         Child Custody, 
                         Maintenance, 
                         Domestic Violence
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="practice-area-img">
                    <h2 class="text-center practice-area-img-text-header">
                        Consumer Complaints
                    </h2>
                    <p class="text-center practice-area-img-text-paragraph">
                        Complaints in Consumer commission,Electricity department,other transport services, 
                        defective product complaints, 
                        inferior service quality complaint
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="practice-area-img">
                    <h2 class="text-center practice-area-img-text-header">
                        Real Estate Issues
                    </h2>
                    <p class="text-center practice-area-img-text-paragraph">
                        RERA Complaints, 
                        Issues against builder,
                        property related matters,
                          land disputes
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <img src="/assets/images/LS-icon.png" class="ls-icon-left" alt="">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1 class="text-center my-3">
                Your Legal Rights
            </h1>
            <div class="border rounded-pill border-2 border-primary-dark2"></div>
            <p class="text-center legal-rights-text my-3">
                Our lawyers have years of experience in serious and difficult cases that often result in charges being
                withdrawn or successfully resolved.
            </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <img src="/assets/images/LS-icon.png" class="ls-icon-right" alt="">
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-2">
                            <img class="card-round-img" src="/assets/images/profile.png" alt="">
                        </div>
                        <div class="col-10">
                            <div class="ps-4">
                                <p class="card-text mb-0"><small class="text-muted">June 29, 2016</small></p>
                                <p class="card-text">
                                    Donec rutrum massa quis dolor
                                    tempor eu fringilla arcu
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body card-img1">
                    <div class="row">
                        <div class="col-6 text-start card-img-inside">
                            ROBARTO MARTIN
                        </div>
                        <div class="col-6 text-end card-img-inside">
                            CRIMINAL LAW
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-2">
                            <img class="card-round-img" src="/assets/images/profile.png" alt="">
                        </div>
                        <div class="col-10">
                            <div class="ps-4">
                                <p class="card-text mb-0"><small class="text-muted">June 29, 2016</small></p>
                                <p class="card-text">
                                    Donec rutrum massa quis dolor
                                    tempor eu fringilla arcu
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body card-img2">
                    <div class="row">
                        <div class="col-6 text-start card-img-inside">
                            ROBARTO MARTIN
                        </div>
                        <div class="col-6 text-end card-img-inside">
                            CRIMINAL LAW
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-2">
                            <img class="card-round-img" src="/assets/images/profile.png" alt="">
                        </div>
                        <div class="col-10">
                            <div class="ps-4">
                                <p class="card-text mb-0"><small class="text-muted">June 29, 2016</small></p>
                                <p class="card-text">
                                    Donec rutrum massa quis dolor
                                    tempor eu fringilla arcu
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body card-img3">
                    <div class="row">
                        <div class="col-6 text-start card-img-inside">
                            ROBARTO MARTIN
                        </div>
                        <div class="col-6 text-end card-img-inside">
                            CRIMINAL LAW
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center my-3">
            <button class="btn btn-primary">VIEW ALL</button>
        </div>
    </div>
</div>

<div class="do-it-yourself-background" id="main-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-2 col-sm-2">
                <div class="vertical-text">
                    <br>
                    <div class="h4 vertical-font mb-0">TRY THIS</div>
                    <div class="border rounded-pill border-2 border-primary-dark"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="pt-4 ms-3">
                    <h2> Do It Yourself</h2>
                    <div class="border rounded-pill border-2 border-primary-dark2 fort"></div>
                <p class="text-left practice-area-text my-3">
                    <b>With Do-It-Yourself, we empower you to file your case or petition or complaint all by yourself. Yes, no intermediaries, just Do-It-Yourself.</b>
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-4">
                <div class="text-center">
                    <button class="btn btn-primary mt-4">File Now</button>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="do-it-yourself-card">
                            <div class="do-it-yourself-card-border-active">
                                <h1>
                                    01.
                                </h1>
                                <div>
                                    <span class="fw-bold">Step-by-step guide</span><br>
                                    Take advantage of our step-by-step guide to understand the complete process, fill up the
relevant forms and file the case/petition in the right forum.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="do-it-yourself-card">
                            <div class="do-it-yourself-card-border-not-active">
                                <h1>
                                    02.
                                </h1>
                                <div>
                                    <span class="fw-bold"> Documents required</span><br>
                                    Don't worry, we provide details of all the supporting documents that you will need during the
process and even provide samples wherever you might need one.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="do-it-yourself-card">
                            <div class="do-it-yourself-card-border-not-active">
                                <h1>
                                    03.
                                </h1>
                                <div>
                                    <span class="fw-bold">Details on WhatsApp</span><br>
                                    You don't need to make notes or remember those 10 steps. Just click a button and we will
send you all the details on your WhatsApp number.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="text-center my-3">
                Hear From Our Clients
            </h1>
            <div class="border rounded-pill border-2 border-primary-dark2"></div>
            <p class="text-center our-clients-text mt-3">
                Our lawyers have years of experience in serious and difficult cases that
                often results in charges being withdrawn or successfully resolved.
            </p>
        </div>

        
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="d-flex align-items-center py-5 mh-100">
                <a class="carousel-control-prev text-decoration-none" href="#mycarousel" role="button"
                    data-bs-slide="prev">
                    <div class="d-flex flex-column justify-content-center me-2 ms-auto left">
                        <i class="pi pi-angle-left" style="font-size: 2rem"></i>
                    </div>
                    <span class="sr-only">
                        <i class="pi pi-angle-left" style="font-size: 2rem"></i>
                    </span>
                </a>
                <div class="container-carousel">
                    <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#mycarousel" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#mycarousel" data-bs-slide-to="1"></li>
                            <li data-bs-target="#mycarousel" data-bs-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-2">
                                        <img class="carousel-round-img" src="/assets/images/profile.png" alt="">
                                    </div>
                                    <div class="col-2">
                                        <div class="vertical-text">
                                            <br>
                                            <div class="h5 mb-0">Richard Anderson</div>
                                            <div class="mb-0 text-muted">Founder, Timber Inc</div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div>
                                            <h2>They saved my life</h2>
                                            <div>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, alias?
                                                Qui,
                                                consequatur quaerat. Sit repellendus ea fuga consequuntur iusto? Vero
                                                distinctio, praesentium ea dolorum error impedit nesciunt? Iure, veniam
                                                eligendi!
                                            </div>
                                            <div>
                                                <img class="signature" src="assets/images/signature.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-2">
                                        <img class="carousel-round-img" src="/assets/images/profile.png" alt="">
                                    </div>
                                    <div class="col-2">
                                        <div class="vertical-text">
                                            <br>
                                            <div class="h5 mb-0">Richard Anderson</div>
                                            <div class="mb-0 text-muted">Founder, Timber Inc</div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div>
                                            <h2>They saved my life</h2>
                                            <div>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, alias?
                                                Qui,
                                                consequatur quaerat. Sit repellendus ea fuga consequuntur iusto? Vero
                                                distinctio, praesentium ea dolorum error impedit nesciunt? Iure, veniam
                                                eligendi!
                                            </div>
                                            <div>
                                                <img class="signature" src="assets/images/signature.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-2">
                                        <img class="carousel-round-img" src="/assets/images/profile.png" alt="">
                                    </div>
                                    <div class="col-2">
                                        <div class="vertical-text">
                                            <br>
                                            <div class="h5 mb-0">Richard Anderson</div>
                                            <div class="mb-0 text-muted">Founder, Timber Inc</div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div>
                                            <h2>They saved my life</h2>
                                            <div>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, alias?
                                                Qui,
                                                consequatur quaerat. Sit repellendus ea fuga consequuntur iusto? Vero
                                                distinctio, praesentium ea dolorum error impedit nesciunt? Iure, veniam
                                                eligendi!
                                            </div>
                                            <div>
                                                <img class="signature" src="assets/images/signature.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-next text-decoration-none " href="#mycarousel" role="button"
                    data-bs-slide="next">
                    <div class="d-flex flex-column justify-content-center right ms-2 me-auto">
                        <i class="pi pi-angle-right" style="font-size: 2rem"></i>
                    </div>
                    <span class="sr-only"> <i class="pi pi-angle-right" style="font-size: 2rem"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>