.custom-footer {
    background-color: #15abe8;
}

.footer-bg-color {
    background-color: #f4f4f4;
}

.border-primary {
    border: 2px solid #15abe8 !important;
}

.border-secondary {
    border: 2px solid white !important;
}

.icon-color {
    color: #15abe8 !important;
}

.container {
    padding: 20px 50px;
}

.form-select {
    background-color: #84cded !important;
    border: 2px solid #84cded !important;
}

.form-control {
    background-color: #84cded !important;
    border: 2px solid #84cded !important;
    color: black !important;
}